@charset "utf-8";
/* CSS Document */

body{
    margin: 0px;
    padding:0px;
	font-family:calibri, Geneva, sans-serif;
	font-size:14pt;
}
#main{
	margin: auto;
	margin-right: auto;
	margin-top: 100px;
    width: 800px;
	height:500px; 
	border: #d72151 solid 3px;
	position:relative;
	background-image:url(../img/testedbackgr.jpg);
	background-repeat:no-repeat;

}
#mascotimg {
	position: absolute;
	margin-top:60px;
	margin-left:50px;
	width:131px;
	height:172px;
}
#wraptext{
	position:absolute;
	margin-left:200px;
	margin-top:60px;
	
}
