/* CSS Document */
h1, h2 {
  font-family: 'Arial';
  font-size: 22px;
  
}
.bs-example{padding:0px 0px 1px 5px}
.background-footer-img{ width:100%; }
.img-rounded .center-block{padding-top:150px;}
#cartridge-list .glyphicon-sort{color:#999999;}
#cartridge-list th a{color:#000;}
.glypicon-remove grey {color:#CCCCCC;}
.image-main-content {padding-top:150px;}
.img-rounded.center-block{padding-top:150px; padding-left:300px;}
.print_r {
	display: block;
	background-color: #f6e8f0;
}

.my-content .page-header {
	border-bottom: 0px;
	text-align: center;
	color: #db3179;
	margin: 15px;
}

.my-content .content-course {
	padding: 20px;
	border-radius: 10px;
	border: 2px solid #abc3ae;
	margin-bottom: 20px;
}

#main-form {
	margin-bottom: 20px;
	text-align: right;
}

.modal-md {
	width:500px;
}

.modal-footer {
	margin-top: 15px;
	padding: 9px 20px;
}

.thumbnail {
	padding: 15px;
}

.thumbnail .caption {
	text-align: center;
}

#myModal .modal-body {
	text-align: center;
}

.alert {
	padding: 10px 30px;
}
.image-main-content {padding-top:150px;}

/*****    MODAL INPUT WINDOW    *****/

.entry-form{
	background: #EDF2F6;
	width: 315px;
	padding: 10px;
	border: 5px solid #C5D7E2;
	box-shadow: 1px 1px 2px #888;
	position: absolute;
	top: 25%;
	left: 35%;
	display: none;
	border-radius: 5px;
}
.entry-form input[type='text']{
	border: 1px solid #bbbbbb;
	box-shadow: 2px 2px 4px #C5D7E2 inset;
	margin:5px 0px;
	/*height: 25px;*/
	width: 275px;}
.entry-form input[type='text']:focus{
	border: 1px solid #C5D7E2;
	width: 275px;}
.entry-form table{margin-bottom:15px;}
.entry-form table tr td{
	background: #EDF2F6;
	border:0px;
}
.entry-form select{
	border: 1px solid #BBBBBB;
	box-shadow: 2px 2px 4px #C5D7E2 inset;
	height:30px;
	margin-bottom:4px;
	margin-top: 4px;
}
.entry-form .place-holder{
	color:#BBBBBB;
	}
.entry-form textarea{
	border: 1px solid #BBBBBB;
	box-shadow: 2px 2px 4px #C5D7E2 inset;
	margin:5px 0px;
}
.entry-form .form-inline .error_show{
	border: 1px solid #c92f53;
}

.error{
	color:#c92f53;
	font:bold;
}
.alert-nonedisplay{
	display:none;
}
.entry-form #type{
	width:250px;
}
.entry-form #type option{
	width:500px;
}
/*******ENTRY FORM MEDIUM*********/
.entry-form-medium{
	background: #EDF2F6;
	width: 515px;
	padding: 10px;
	border: 5px solid #C5D7E2;
	box-shadow: 1px 1px 2px #888;
	position: absolute;
	top: 20%;
	left: 35%;
	display: none;
	border-radius: 5px;
}
.entry-form-medium input[type='text']{
	border: 1px solid #bbbbbb;
	box-shadow: 2px 2px 4px #C5D7E2 inset;
	margin:5px 0px;
	/*height: 25px;*/
	width: 350px;}
.entry-form-medium input[type='text']:focus{
	border: 1px solid #C5D7E2;
	width: 350px;}
.entry-form-medium table{margin-bottom:15px;}
.entry-form-medium table tr td{
	background: #EDF2F6;
	border:0px;
}
.entry-form-medium select{
	border: 1px solid #BBBBBB;
	box-shadow: 2px 2px 4px #C5D7E2 inset;
	height:30px;
	margin :4px 0px;

}
.entry-form-medium .place-holder{
	color:#BBBBBB;
	}
.entry-form-medium textarea{
	border: 1px solid #BBBBBB;
	box-shadow: 2px 2px 4px #C5D7E2 inset;
	margin:5px 0px;
}
.entry-form-medium .form-inline .error_show{
	border: 1px solid #c92f53;
}
 
 /*******ENTRY FORM LARGE*********/
.entry-form-large{
	background: #EDF2F6;
	width: 815px;
	padding: 10px;
	border: 5px solid #C5D7E2;
	box-shadow: 1px 1px 2px #888;
	position: absolute;
	top: 10%;
	left: 25%;
	display: none;
	border-radius: 5px;
}
.entry-form-large input[type='text']{
	border: 1px solid #bbbbbb;
	box-shadow: 2px 2px 4px #C5D7E2 inset;
	margin:5px 0px;
	/*height: 25px;*/
	width: 275px;}
.entry-form-large input[type='text']:focus{
	border: 1px solid #C5D7E2;
	width: 275px;}
.entry-form-large table{margin-bottom:15px;}
.entry-form-large table tr td{
	background: #EDF2F6;
	border:0px;
}
.entry-form-large select{
	border: 1px solid #BBBBBB;
	box-shadow: 2px 2px 4px #C5D7E2 inset;
	height:30px;
	margin :4px 0px;

}
.entry-form-large .place-holder{
	color:#BBBBBB;
	}
.entry-form-large textarea{
	border: 1px solid #BBBBBB;
	box-shadow: 2px 2px 4px #C5D7E2 inset;
	margin:5px 0px;
}
.entry-form-large .form-inline .error_show{
	border: 1px solid #c92f53;
}
/* Collapse with change text in CSS*/
.viewMore[aria-expanded="false"]:before{
  content:"[ View More ]";
}
.viewMore[aria-expanded="true"]:before{
  content:"[ View Less ]";
}
.entry-form-large hr {
  border: 0;
  border-top: 1px solid #ccc; /* 1px thickness, solid style, light gray */
   margin-top: 2px;    /* Adjust as needed */
  margin-bottom: 2px; 
}

/*bold text: */
.strong-text{
	font-weight: bold;
}